.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 10rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

a {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #303f9f;
}
